/* Footer */
.footer {
  /* margin-top: 2rem; */
  padding: 5rem 0 0 0;
  background-color: var(--dark);
  color: var(--secondary);
}

.list-group-item {
  background-color: transparent;
  color: var(--primary);
}

/* Copyright */
.copyright {
  margin-top: 2rem;
  background-color: var(--grey);
  color: var(--secondary);
}

.copyright .container .row .copyright-content {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.copyright .container .row .copyright-content p {
  font-size: 16px;
  font-weight: 300;
  font-variant: normal;
  font-family: serif;
  letter-spacing: 0.155rem;
}
